<div class="container">
  <div class="search">
      <form class="search">
          <div class="form-group col-md-6 inline">
              <input type="text" class="form-control" id="id" name="id" placeholder="Search by ID">
              <button class="btn btn-secondary" type="submit">Search</button>
          </div>
      </form>
  </div>
  <br><br>

  <!-- Table -->
  <div>
      <table class="table table-responsive table-striped border-dark" style="margin-bottom: 50px;">
          <thead class="table-dark">
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Employees Count</th>
                  <th>Actions</th>
              </tr>
          </thead>

          <tbody>
              <tr *ngFor="let department of departments">
                  <td>{{ department.id }}</td>
                  <td>{{ department.name }}</td>
                  <td>{{ department.employeesCount }}</td>
                  <td>
                      <!-- Updated button class for grey color -->
                      <button (click)="editDepartment(department.id)" class="btn btn-secondary btn-sm">Update</button>
                      <button (click)="deleteDepartment(department.id)" class="btn btn-danger btn-sm" style="margin-left: 10px;">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>