<div class="container">
    <h2>Add Department</h2>
    <form (ngSubmit)="saveDepartment()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="department.name" name="name" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" type="submit">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="navigateToDepartmentList()">Cancel</button>
    </form>
  </div>